{% extends 'base.html' %} {% load static %} {% block content %}

<body>
  {% include 'components/navbar.html' with name=name %}

  <main id="main" class="main">
    <div class="pagetitle mx-auto">
      <h1>Product Create</h1>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New product</h5>

              <!-- General Form Elements -->
              <form
                method="post"
                action="{% url 'core.marketplace:sell' %}"
                enctype="multipart/form-data"
              >
                {% csrf_token %} {% comment %} {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  <strong>Error:</strong> Por favor corrige los errores en el
                  formulario.
                  <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %} {% endfor %}
                  </ul>
                </div>
                {% endif %} {% endcomment %}

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label"
                    >Nombre</label
                  >
                  <div class="col-sm-10">
                    <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" name="name" />
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Descripcion</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control"
                      style="height: 100px"
                      name="description"
                    ></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >foto</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                      name="thumbnail"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label"
                    >slug</label
                  >
                  <div class="col-sm-10">
                    <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" name="slug" />
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >Content_file</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                      name="content_file"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label"
                    >content_url</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                      name="content_url"
                    />
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >Precio</label
                  >
                  <div class="col-sm-10">
                    <input type="number" class="form-control {% if form.name.errors %}is-invalid{% endif %}" name="price" />
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>

                <div class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">active</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="gridCheck1"
                        name="active"
                      />
                      <label class="form-check-label" for="gridCheck1">
                        Active
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputCategory" class="col-sm-2 col-form-label">Categoría</label>
                  <div class="col-sm-10">
                      <select class="form-control" name="category" id="inputCategory">
                          {% for value, label in form.fields.category.choices %}
                              <option value="{{ value }}">{{ label }}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
                </div>
              </form>
              <!-- End General Form Elements -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  {% include 'components/footer.html' %}

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</body>

{% endblock content %}
