{% extends 'base.html' %} 

{% block content %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>User_Profile</h1>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div
              class="card-body profile-card pt-4 d-flex flex-column align-items-center"
            >
              <img
                src="assets/img/profile-img.jpg"
                alt="Profile"
                class="rounded-circle"
              />
              <h2>{{ user.username }}</h2>
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button
                    class="nav-link active"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-overview"
                  >
                    Estadisticas
                  </button>
                </li>

                <li class="nav-item">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-edit"
                  >
                    En Venta
                  </button>
                </li>

                <li class="nav-item">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-settings"
                  >
                    Compras
                  </button>
                </li>

                <li class="nav-item">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-change-password"
                  >
                    Cambiar contraseña
                  </button>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview" >
                  <h5 class="card-title">Estadisticas</h5>
                  <p class="small fst-italic">
                    Sunt est soluta temporibus accusantium neque nam maiores
                    cumque temporibus. Tempora libero non est unde veniam est qui
                    dolor. Ut sunt iure rerum quae quisquam autem eveniet
                    perspiciatis odit. Fuga sequi sed ea saepe at unde.
                  </p>

                  <h5 class="card-title">Estadisticas de Ventas</h5>

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Productos vendidos</h5>


              <!-- Donut Chart -->
              <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#doughnutChart'), {
                    type: 'doughnut',
                    data: {
                      labels: [
                        {% for product_name, count in product_counts.items %}
                          '{{ product_name }}',
                        {% endfor %}
                      ],
                      datasets: [{
                        label: 'Productos vendidos',
                        data: [{% for product_name, count in product_counts.items %}
                                {{ count }},
                              {% endfor %}
                              ],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)',
                          
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
                      <!-- End Doughnut CHart -->
                    </div>
                    <h3>Productos vendidos:</h3>
                      <ul>
                        {% for product in products_sold %}
                          <li>{{ product.name }}</li>
                        {% endfor %}
                      </ul>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <!-- Profile Edit Form -->
                  <table class="table table-hover">
                    <thead>
                      
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Estado</th>
                        

                      </tr>
                    </thead>
                    <tbody>
                      {% for product in products %}
                        {% with forloop.counter as product_number %}
                          <tr>
                            {% if product.thumbnail %}
                              <td><div style="width: 100px; height: 50px; overflow:hidden;">
                                  <a href="{% url 'product_detail' slug=product.slug %}">
                                      <img class="img-fluid w-15 "src="{{ product.thumbnail.url }}" alt="">
                                  </a>
                              </div></td>
                            {% endif %}
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>${{ product.price }}</td>
                            <td>
                              {% if product.active %}
                              <p style="color:green;">Publicado</p>
                              {% else %}
                              <p style="color:grey;">Borrador</p>
                              {% endif %}
                            </td>
                          </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Profile Edit Form -->
                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">
                  <!-- Settings Form -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        
                        <th scope="col"></th>
                        <th scope="col">Prodcuto</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in products_purchased %}
                        <tr>
                          {% if product.thumbnail %}
                            <td>
                              <div style="width: 100px; height: 50px; overflow:hidden;">
                                <a href="{% url 'product_detail' slug=product.slug %}">
                                  <img class="img-fluid w-15 " src="{{ product.thumbnail.url }}" alt="">
                                </a>
                              </div>
                            </td>
                          {% endif %}
                          <td>{{ product.name }}</td>
                          <td>{{ product.category }}</td>
                          <td>${{ product.price }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End settings Form -->
                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST" action="{% url 'user_profile' %}">
                    {% csrf_token %} {% if form.errors %}
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      {% if form.errors %}
                        {% for field in form %} 
                          {% for error in field.errors %} 
                            - {{ error }} 
                          {% endfor %} 
                        {% endfor %}
                      {% endif %}
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %}
                    <div class="row mb-3">
                      <label
                        for="currentPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Current Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="oldpassword"
                          type="password"
                          class="form-control"
                          id="currentPassword"
                        />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label
                        for="newPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >New Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="password1"
                          type="password"
                          class="form-control"
                          id="newPassword"
                        />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label
                        for="renewPassword"
                        class="col-md-4 col-lg-3 col-form-label"
                        >Re-enter New Password</label
                      >
                      <div class="col-md-8 col-lg-9">
                        <input
                          name="password2"
                          type="password"
                          class="form-control"
                          id="renewPassword"
                        />
                      </div>
                    </div>

                    <div class="text-center">
                      <button class="btn btn-primary" type="submit" name="action">
                        Change Password
                      </button>
                    </div>
                  </form>
                  
                  <!-- End Change Password Form -->
                </div>
              </div>
              <!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<!-- End #main -->

{% endblock %}
