

<section style="background-color: #eee; padding-top:100px">
  <div class="container py-5">
    <div class="row justify-content-between flex-wrap">
      {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card" style="border-radius: 15px;">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <a href="{% url 'product_detail' slug=product.slug %}">
              <img src="{{product.thumbnail.url}}"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px; overflow:hidden;" class="img-fluid"
              alt="Laptop" />
            </a>
            <a href="#!">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p class="font-weight-700 display-6">{{product.name}}</p>
                <p><a href="#" class="small text-muted">{{ product.get_category_display }}</a></p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
              <p class="text-dark text-end">${{product.price}}</p>
           
            <p class="small text-muted">{{product.description|truncatechars:50}}</p>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
              <form id="add-to-cart-form" action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button id="add-to-cart-btn" type="submit" class="btn btn-warning">Agregar al carrito</button>
              </form>
            
              <script>
                document.getElementById('add-to-cart-btn').addEventListener('click', function(event) {
                  event.stopPropagation();
                });
              
              </script>
              <button type="button" class="btn btn-warning">comprar</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
      
    </div>
  </div>
</section>
